@import "styles/breakpoints";

.hero {
  width: 100%;
  max-width: 100em;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  //Change
  padding-left: 5em;
  padding-right: 5em;
}


//Left
.left {
  line-height: 3.5rem;
  //position: relative;
}

.name {
  color: rgba(var(--accent));
  font-size: 3.5rem;
}

.type-writer {
  font-weight: 100;
  font-size: 3.5rem;

  span {
    font-weight: 700;
  }
}

.left::before {
  content: "<h1>";
}
.type-writer::after {
  content: "<h1/>";
  display: block;
}

.left::before, .type-writer::after {
  color: var(--text2);
  font-family: var(--font-cursive);
  font-size: 1.2rem;
  margin-left: -0.75em;
}

.contact-button {
  padding: 0.8em 1em;
  border: 2px solid rgba(var(--accent));
  border-radius: 5px;
  background: none;
  color: rgba(var(--accent));
  font-family: var(--font-mono);
  font-size: 1.1rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--accent), 0.1);
  }
}

//Right
.right {
  position: relative;
  width: 28em;
  height: 28em;
  border: 2px solid rgba(var(--accent));
  border-radius: 20px;
  display: inline-block;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -175px;
    width: 28em;
    height: 17.56em;

    path {
      fill: var(--text);
    }
  }

  //Change
  @include breakpoint(lg) {
    width: 20em;
    height: 20em;
  }
}

