@use "styles/breakpoints";

.about {
  width: 100%;
  background: var(--dark-bg2);
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 300px; //Todo - remove
}

.content {
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin: auto;
  max-width: 85em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoints.width(md) {
    flex-direction: column;
  }
}

.left {
  margin-right: 4em;
  @include breakpoints.width(md) {
    margin-right: 0;
  }

  p {
    font-size: 1.1rem;
  }
}

.right {
  width: 500px;
  height: 500px;

  @include breakpoints.width(md) {
    margin-top: 5em;
  }
}
