@use "styles/breakpoints";

.hero {
  width: 100%;
  max-width: 100em;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;


  @include breakpoints.height(sm) {
    height: auto;
    padding-top: calc(var(--nav-height) + 1em);
  }

  @include breakpoints.width(md) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}


//Left
.left {
  @include breakpoints.height(sm) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  @include breakpoints.width(md) {
    width: 100%;
    margin-top: 4em;
  }

  @include breakpoints.width(sm) {
    margin-bottom: -2em;
    margin-top: 4em;
  }
}

.name {
  color: rgba(var(--accent));
  //Make variable
  font-size: clamp(1.6rem, 4.2vw, 3.5rem);
}

.type-writer {
  color: var(--text);
  font-weight: 100;
  font-size: clamp(1.6rem, 4.2vw, 3.5rem);

  span {
    font-weight: 700;
  }
}

.left::before {
  content: "<h1>";
}
.type-writer::after {
  content: "<h1/>";
  display: block;
  padding-bottom: 10px;
}

.left::before, .type-writer::after {
  color: var(--text2);
  font-family: var(--font-cursive);
  font-size: 1.2rem;
  margin-left: -0.75em;
}

//Right
.right {
  position: relative;
  width: clamp(15rem, 28vw, 28rem);
  height: clamp(15rem, 28vw, 28rem);
  border: 2px solid rgba(var(--accent));
  border-radius: 20px;
  display: inline-block;

  @include breakpoints.width(sm) {
    width: 12em;
    height: 12em;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40%;
    width: clamp(15em, 28vw, 28em);


    @include breakpoints.width(sm) {
      width: 12em;
    }

    path {
      fill: var(--text);
    }
  }
}

